<div class="container bg-white p-4 mt-7">
<div class="flex align-items-center justify-content-center h-full w-full">
  <div class="errorMsg text-center flex flex-column align-items-center">
    <h2 class="text-4xl color-primary mb-2">Uh-oh !</h2>
    <h3>Coup franc pour la page d'erreur !</h3>
    <p class="text-xl">(404 - Page introuvable)</p>
    <img src="./../../../assets/404.png" title="error-404" class="w-full sm:w-auto"/>
    <a href="/" class="btn no-underline mt-4">Retourner à l'Accueil</a>
  </div>
</div>
</div>