<div class="container pt-6 text-black">

  <h1 class="text-4xl mb-1 md:mb-6 mt-2">Fifa World Cup 2026</h1>

  <app-breadcrumb [bcdata]="breadCrumpData" (routeEvent)="resetTeamSelection($event)" />

  @if ($teamsData | async; as teams) {
    <div class="teams grid grid-cols-12 relative md:mt-12" [ngClass]="{'hidden': choosenTeam}">
      @for (team of teams; track team) {
        <div class="team flex col-span-4 items-center justify-center md:col-span-3 lg:col-span-2">
          <button class="btnTeams flex flex-col items-center" (click)="showTeam(team)">
            <div class="teamBadge flex items-center justify-center overflow-hidden bg-white w-5rem h-3rem">
              <img src="{{ team.flag_url }}" alt="{{ team.name }}" class="w-5rem h-5rem" />
            </div>
            <h4 class="mt-2 text-black">{{ team.name }}</h4>
          </button>
        </div>
      }
    </div>
  } @else {
    <loader [showLoader]="true" />
  }

  @if (choosenTeam) {
    <team-details [team]="choosenTeam"></team-details>
  }

</div>

