// Apply black color to the headings inside this component
h1, h4 {
  color: #000000; 
}

.teams {
  padding: 0 0.5rem;
}

.teamBadge {
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: none;
  // aspect-ratio: 4/2;

  img {
    object-fit: contain;
    object-position: center;
    transform: scale(1.15);
  }
}

.btnTeams {
// Ensures the button text inherits or uses black
  color: #000000;
  
  &:hover .teamBadge {
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 0 0 8px 0 #004ea033;
  }
}
