<div class="flex flex-col min-h-screen w-full relative">
  <!-- The slot header now renders the sidebar on desktop and topbar on mobile -->
  <ng-content select="[slot=header]"></ng-content>

  <!-- Main Content Area: shifts right based on sidebar width on desktop only -->
  <div class="content-area flex-grow flex flex-col min-h-screen w-full"
       [style.--sidebar-width]="sidebar.isCollapsed() ? '72px' : '260px'">

    
    <!-- pt-16 to avoid mobile topbar, no padding on desktop because no topbar -->
    <div class="pt-16 md:pt-0 flex flex-col flex-grow">
      
      <ng-content select="[slot=hero]"></ng-content>

      <div class="main flex-grow">
        <div class="p-4 md:px-12 lg:px-24 xl:px-32 max-w-[1600px] mx-auto w-full" id="scrollContainer">
          <ng-content select="[slot=main]"></ng-content>
        </div>
      </div>

      <footer>
        <ng-content select="[slot=footer]"></ng-content>
      </footer>
    </div>
  </div>
</div>
