.modal {
  width: 80%;
  height: auto;
  background: white;
}

.closeModal {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 200;
}

@media screen and (min-width: 990px){
  .modal {
    min-width: 440px;

    &.modalSm {
      width: 26%;
    }

    &.modalMd {
      width: 100%;
      max-width: 700px;
      min-width: 550px;
    }

    &.modalLg {
      width: 60%;
      max-width: 800px;
    }

  }
}
