<div class="filter w-full pt-4 pb-4 pl-2 pr-2">
  <div class="container">
    <h1 class="text-white flex">
      <span class="material-symbols-outlined">sports_esports</span>
      Jeu du bracket
    </h1>
  </div>
</div>

<div class="container pt-2">
  <h2 *ngIf="!isOpen">Le jeu est clos</h2>

  <ng-container *ngIf="$bracket | async as bracket; else bracketOpen; else loader">

    <ng-container *ngIf="bracket.length > 0; else bracketOpen">
      <h2>Ci-dessous votre pronostic</h2>
      <div class="bracket mt-5">
        <div class="round round-1">
          <h3 class="mobile mb-2">Huitièmes de finale</h3>
          <div class="matchup">
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 29/06/24 - 20:00 - R16-1</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_1 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_1 }}</h3>
              </div>
            </div>
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 30/06/24 - 20:00 - R16-3</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_3 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_3 }}</h3>
              </div>
            </div>
          </div>
          <div class="matchup">
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 02/07/24 - 20:00 - R16-7</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_7 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_7 }}</h3>
              </div>
            </div>
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 02/07/24 - 23:00 - R16-8</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_8 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_8 }}</h3>
              </div>
            </div>
          </div>

          <div class="matchup">
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 29/06/24 - 23:00 - R16-2</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_2 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_2 }}</h3>
              </div>
            </div>
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 30/06/24 - 23:00 - R16-4</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_4 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_4 }}</h3>
              </div>
            </div>
          </div>

          <div class="matchup">
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 01/07/24 - 20:00 - R16-5</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_5 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_5 }}</h3>
              </div>
            </div>
            <div class="team pb-1">
              <span class="matchInfo">Huitième de finale - 01/07/24 - 23:00 - R16-6</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r16_6 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r16_6 }}</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="round round-2">
          <h3 class="mobile mb-2">Quart de finale</h3>
          <div class="matchup">
            <div class="team pb-1">
              <span class="matchInfo">Quart de finale - 06/07/24 - 20:00 - R4-3</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r4_3 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r4_3 }}</h3>
              </div>
            </div>
            <div class="team pb-1">
              <span class="matchInfo">Quart de finale - 06/07/24 - 23:00 - R4-4</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r4_4 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r4_4 }}</h3>
              </div>
            </div>
          </div>

          <div class="matchup">
            <div class="team pb-1">
              <span class="matchInfo">Quart de finale - 05/07/24 - 20:00 - R4-1</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r4_1 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r4_1 }}</h3>
              </div>
            </div>
            <div class="team pb-1">
              <span class="matchInfo">Quart de finale - 05/07/24 - 23:00 - R4-2</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_r4_2 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_r4_2 }}</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="round round-3">
          <h3 class="mobile mb-2">Semi finale</h3>
          <div class="matchup">
            <div class="team">
              <span class="matchInfo">Semi finale - 10/07/24 - 23:00 - S2</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_semi_2 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_semi_2 }}</h3>
              </div>
            </div>
          </div>
          <div class="matchup">
            <div class="team">
              <span class="matchInfo">Semi finale -09/07/24 - 23:00 - S1</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_semi_1 | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_semi_1 }}</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="round round-4">
          <h3 class="mobile mb-2">Finale</h3>
          <div class="matchup">
            <div class="team">
              <span class="matchInfo">Finale - 14/07/24 - 20:00</span>
              <div class="flags flex align-items-center">
                <img src="assets/flags/{{ bracket[0].winner_euro | lowercase }}.png" alt="" class="mr-2" />
                <h3>{{ bracket[0].winner_euro }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #bracketOpen>
    <div class="bracket pt-4" [ngClass]="{'isDisabled': !isOpen}">

      <div class="round round-1">
        <h3 class="mobile mb-2">Huitièmes de finale</h3>
        <div class="matchup">

          <div class="team" [ngClass]="{'completed': winnerR161 && winnerR161 !== '-'}">
            <span class="matchInfo">Huitième de finale - 29/06/24 - 20:00 - R16-1</span>

            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/suisse.png" *ngIf="winnerR161 === 'Suisse' || winnerR161 ==='-'" alt="" />
                <span class="vs" *ngIf="winnerR161 ==='-'">VS</span>
                <img src="assets/flags/italie.png" alt=""  *ngIf="winnerR161 === 'Italie' || winnerR161 ==='-'" />
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-1', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR161">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="Suisse">Suisse</option>
                    <option value="Italie">Italie</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>
          </div>

          <div class="team" [ngClass]="{'completed': winnerR163 && winnerR163 !== '-'}">
            <span class="matchInfo">Huitième de finale - 30/06/24 - 20:00 - R16-3</span>

            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/angleterre.png" alt="" *ngIf="winnerR163 === 'Angleterre' || winnerR163 ==='-'"/>
                <span class="vs" *ngIf="winnerR163 ==='-'">VS</span>
                <img src="assets/flags/slovaquie.png" alt="" *ngIf="winnerR163 === 'Slovaquie' || winnerR163 ==='-'" />
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-3', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR163">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="Angleterre">Angleterre</option>
                    <option value="Slovaquie">Slovaquie</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
        </div>
        <div class="matchup">
          <div class="team" [ngClass]="{'completed': winnerR167 && winnerR167 !== '-'}">
            <span class="matchInfo">Huitième de finale - 02/07/24 - 20:00 - R16-7</span>

            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/roumanie.png" alt="" *ngIf="winnerR167 === 'Roumanie' || winnerR167 ==='-'" />
                <span class="vs" *ngIf="winnerR167 ==='-'">VS</span>
                <img src="assets/flags/pays-bas.png" alt="" *ngIf="winnerR167 === 'Pays-Bas' || winnerR167 ==='-'" />
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-7', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR167">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="Roumanie">Roumanie</option>
                    <option value="Pays-Bas">Pays-Bas</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>

          <div class="team" [ngClass]="{'completed': winnerR168 && winnerR168 !== '-'}">
            <span class="matchInfo">Huitième de finale - 02/07/24 - 23:00 - R16-8</span>

            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/autriche.png" alt="" *ngIf="winnerR168 === 'Autriche' || winnerR168 ==='-'" />
                <span class="vs" *ngIf="winnerR168 ==='-'">VS</span>
                <img src="assets/flags/turquie.png" alt=""  *ngIf="winnerR168 === 'Turquie' || winnerR168 ==='-'" />
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-8', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR168">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="Autriche">Autriche</option>
                    <option value="Turquie">Turquie</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
        </div>
        <div class="matchup">
          <div class="team" [ngClass]="{'completed': winnerR162 && winnerR162 !== '-'}">
            <span class="matchInfo">Huitième de finale - 29/06/24 - 23:00 - R16-2</span>

            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/allemagne.png" alt="" *ngIf="winnerR162 === 'Allemagne' || winnerR162 ==='-'" />
                <span class="vs" *ngIf="winnerR162 ==='-'">VS</span>
                <img src="assets/flags/danemark.png" alt="" *ngIf="winnerR162 === 'Danemark' || winnerR162 ==='-'" />
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-2', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR162">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="Allemagne">Allemagne</option>
                    <option value="Danemark">Danemark</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
          <div class="team" [ngClass]="{'completed': winnerR164 && winnerR164 !== '-'}">

            <span class="matchInfo">Huitième de finale - 30/06/24 - 23:00 - R16-4</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/espagne.png" alt="" *ngIf="winnerR164 === 'Espagne' || winnerR164 ==='-'" />
                <span class="vs" *ngIf="winnerR164 ==='-'">VS</span>
                <img src="assets/flags/georgie.png" alt="" *ngIf="winnerR164 === 'Georgie' || winnerR164 ==='-'"/>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-4', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR164">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="Espagne">Espagne</option>
                    <option value="Georgie">Georgie</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
        </div>
        <div class="matchup">
          <div class="team" [ngClass]="{'completed': winnerR165 && winnerR165 !== '-'}">

            <span class="matchInfo">Huitième de finale - 01/07/24 - 20:00 - R16-5</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/france.png" alt="" *ngIf="winnerR165 === 'France' || winnerR165 ==='-'"/>
                <span class="vs" *ngIf="winnerR165 ==='-'">VS</span>
                <img src="assets/flags/belgique.png" alt="" *ngIf="winnerR165 === 'Belgique' || winnerR165 ==='-'"/>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-5', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR165">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="France">France</option>
                    <option value="Belgique">Belgique</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
          <div class="team" [ngClass]="{'completed': winnerR166 && winnerR166 !== '-'}">

            <span class="matchInfo">Huitième de finale - 01/07/24 - 23:00 - R16-6</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <img src="assets/flags/portugal.png" alt="" *ngIf="winnerR166 === 'Portugal' || winnerR166 ==='-'" />
                <span class="vs" *ngIf="winnerR166 ==='-'">VS</span>
                <img src="assets/flags/slovenie.png" alt="" *ngIf="winnerR166 === 'Slovenie' || winnerR166 ==='-'"/>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r16-6', $event)" [disabled]="!isOpen" [(ngModel)]="winnerR166">
                    <option value="-" selected>Gagnant ?</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Slovenie">Slovenie</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
        </div>
      </div>

      <div class="round round-2">
        <h3 class="mobile mb-2">Quart de finale</h3>
        <div class="matchup flex flex-column justify-content-center">
          <div class="team" [ngClass]="{'completed': winnerR43 && winnerR43 !== '-'}">

            <span class="matchInfo">Quart de finale - 06/07/24 - 20:00 - R4-3</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <ng-container *ngIf="!choiceR431 || !choiceR432 || choiceR431 === 'TBC' || choiceR432 ==='TBC'">
                  <img src="assets/flags/unknown.png" alt="" /> <span class="vs">VS</span> <img src="assets/flags/unknown.png" alt="" />
                </ng-container>
                <ng-container *ngIf="choiceR431 && choiceR432 && choiceR432 !== 'TBC' && choiceR431 !=='TBC'">
                  <img src="assets/flags/{{ choiceR431 | lowercase }}.png" alt="" *ngIf="winnerR43 === choiceR431 || winnerR43 ==='-'"/>
                  <span class="vs" *ngIf="winnerR43 ==='-'">VS</span>
                  <img src="assets/flags/{{ choiceR432 | lowercase }}.png" alt="" *ngIf="winnerR43 === choiceR432 || winnerR43 ==='-'" />
                </ng-container>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r4-3', $event)" [disabled]="!choiceR431 || !choiceR432 || choiceR431 === 'TBC' || choiceR432 ==='TBC'" [(ngModel)]="winnerR43">
                    <option value="-" selected>Gagnant ?</option>
                    <option [value]="choiceR431">{{ choiceR431 }}</option>
                    <option [value]="choiceR432">{{ choiceR432 }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
          <div class="team" [ngClass]="{'completed': winnerR44 && winnerR44 !== '-'}">

            <span class="matchInfo">Quart de finale - 06/07/24 - 23:00 - R4-4</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <ng-container *ngIf="!choiceR441 || !choiceR442 || choiceR441 === 'TBC' || choiceR442 ==='TBC'">
                  <img src="assets/flags/unknown.png" alt="" /> <span class="vs">VS</span> <img src="assets/flags/unknown.png" alt="" />
                </ng-container>
                <ng-container *ngIf="choiceR441 && choiceR442 && choiceR442 !== 'TBC' && choiceR441 !=='TBC'">
                  <img src="assets/flags/{{ choiceR441 | lowercase }}.png" alt="" *ngIf="winnerR44 === choiceR441 || winnerR44 ==='-'" />
                  <span class="vs" *ngIf="winnerR44 ==='-'">VS</span>
                  <img src="assets/flags/{{ choiceR442 | lowercase }}.png" alt="" *ngIf="winnerR44 === choiceR442 || winnerR44 ==='-'" />
                </ng-container>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r4-4', $event)" [disabled]="!choiceR441 || !choiceR442 || choiceR441 === 'TBC' || choiceR442 ==='TBC'" [(ngModel)]="winnerR44">
                    <option value="-" selected>Gagnant ?</option>
                    <option [value]="choiceR441">{{ choiceR441 }}</option>
                    <option [value]="choiceR442">{{ choiceR442 }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
        </div>
        <div class="spacer hidden md:block"></div>
        <div class="matchup flex flex-column justify-content-center">
          <div class="team" [ngClass]="{'completed': winnerR41 && winnerR41 !== '-'}">

            <span class="matchInfo">Quart de finale - 05/07/24 - 20:00 - R4-1</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <ng-container *ngIf="!choiceR411 || !choiceR412 || choiceR411 === 'TBC' || choiceR412 ==='TBC'">
                  <img src="assets/flags/unknown.png" alt="" /> <span class="vs">VS</span> <img src="assets/flags/unknown.png" alt="" />
                </ng-container>
                <ng-container *ngIf="choiceR411 && choiceR412 && choiceR412 !== 'TBC' && choiceR411 !=='TBC'">
                  <img src="assets/flags/{{ choiceR411 | lowercase }}.png" alt="" *ngIf="winnerR41 === choiceR411 || winnerR41 ==='-'" />
                  <span class="vs" *ngIf="winnerR41 ==='-'">VS</span>
                  <img src="assets/flags/{{ choiceR412 | lowercase }}.png" alt="" *ngIf="winnerR41 === choiceR412 || winnerR41 ==='-'"/>
                </ng-container>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r4-1', $event)" [disabled]="!choiceR411 || !choiceR412 || choiceR411 === 'TBC' || choiceR442 ==='TBC'" [(ngModel)]="winnerR41">
                    <option value="-" selected>Gagnant ?</option>
                    <option [value]="choiceR411">{{ choiceR411 }}</option>
                    <option [value]="choiceR412">{{ choiceR412 }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
          <div class="team"[ngClass]="{'completed': winnerR42 && winnerR42 !== '-'}">

            <span class="matchInfo">Quart de finale - 05/07/24 - 23:00 - R4-2</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <ng-container *ngIf="!choiceR421 || !choiceR422 || choiceR421 === 'TBC' || choiceR422 ==='TBC'">
                  <img src="assets/flags/unknown.png" alt="" /> <span class="vs">VS</span> <img src="assets/flags/unknown.png" alt="" />
                </ng-container>
                <ng-container *ngIf="choiceR421 && choiceR422 && choiceR422 !== 'TBC' && choiceR421 !=='TBC'">
                  <img src="assets/flags/{{ choiceR421 | lowercase }}.png" alt="" *ngIf="winnerR42 === choiceR421 || winnerR42 ==='-'"/>
                  <span class="vs" *ngIf="winnerR42 ==='-'">VS</span>
                  <img src="assets/flags/{{ choiceR422 | lowercase }}.png" alt="" *ngIf="winnerR42 === choiceR422 || winnerR42 ==='-'"/>
                </ng-container>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('r4-2', $event)" [disabled]="!choiceR421 || !choiceR422 || choiceR421 === 'TBC' || choiceR422 ==='TBC'" [(ngModel)]="winnerR42">
                    <option value="-" selected>Gagnant ?</option>
                    <option [value]="choiceR421">{{ choiceR421 }}</option>
                    <option [value]="choiceR422">{{ choiceR422 }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
        </div>
      </div>

      <div class="round round-3">
        <h3 class="mobile mb-2">Semi finale</h3>
        <div class="matchup flex flex-column justify-content-center">
          <div class="team" [ngClass]="{'completed': winnerSemi2 && winnerSemi2 !== '-'}">

            <span class="matchInfo">Semi finale - 10/07/24 - 23:00 - S2</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <ng-container *ngIf="!choiceS22 || !choiceS21 || choiceS21 === 'TBC' || choiceS22 ==='TBC'">
                  <img src="assets/flags/unknown.png" alt="" /> <span class="vs">VS</span> <img src="assets/flags/unknown.png" alt="" />
                </ng-container>
                <ng-container *ngIf="choiceS21 && choiceS22 && choiceS22 !== 'TBC' && choiceS21 !=='TBC'">
                  <img src="assets/flags/{{ choiceS21 | lowercase }}.png" alt="" *ngIf="winnerSemi2 === choiceS21 || winnerSemi2 ==='-'"/>
                  <span class="vs" *ngIf="winnerSemi2 ==='-'">VS</span>
                  <img src="assets/flags/{{ choiceS22 | lowercase }}.png" alt="" *ngIf="winnerSemi2 === choiceS22 || winnerSemi2 ==='-'"/>
                </ng-container>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('s2', $event)" [disabled]="!choiceS21 || !choiceS22 || choiceS21 === 'TBC' || choiceS22 ==='TBC'" [(ngModel)]="winnerSemi2">
                    <option value="-" selected>Gagnant ?</option>
                    <option [value]="choiceS21">{{ choiceS21 }}</option>
                    <option [value]="choiceS22">{{ choiceS22 }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
          <div class="team" [ngClass]="{'completed': winnerSemi1 && winnerSemi1 !== '-'}">

            <span class="matchInfo">Semi finale -09/07/24 - 23:00 - S1</span>
            <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
              <div class="flags flex align-items-center">
                <ng-container *ngIf="!choiceS12 || !choiceS11 || choiceS11 === 'TBC' || choiceS12 ==='TBC'">
                  <img src="assets/flags/unknown.png" alt="" /> <span class="vs">VS</span> <img src="assets/flags/unknown.png" alt="" />
                </ng-container>
                <ng-container *ngIf="choiceS11 && choiceS12 && choiceS12 !== 'TBC' && choiceS11 !=='TBC'">
                  <img src="assets/flags/{{ choiceS11 | lowercase }}.png" alt="" *ngIf="winnerSemi1 === choiceS11 || winnerSemi1 ==='-'"/>
                  <span class="vs" *ngIf="winnerSemi1 ==='-'">VS</span>
                  <img src="assets/flags/{{ choiceS12 | lowercase }}.png" alt="" *ngIf="winnerSemi1 === choiceS12 || winnerSemi1 ==='-'"/>
                </ng-container>
              </div>
              <div class="dropdown">
                <div class="input mb-0 p-0">
                  <select name="team" id="teamSelection" (change)="selectedWinner('s1', $event)" [disabled]="!choiceS11 || !choiceS12 || choiceS11 === 'TBC' || choiceS12 ==='TBC'" [(ngModel)]="winnerSemi1">
                    <option value="-" selected>Gagnant ?</option>
                    <option [value]="choiceS11">{{ choiceS11 }}</option>
                    <option [value]="choiceS12">{{ choiceS12 }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

            </div>

          </div>
        </div>
      </div>
      <div class="round round-4 relative">
        <h3 class="mobile mb-2">Finale</h3>
          <div class="matchup">
            <div class="team" [ngClass]="{'completed finale': winnerEuro && winnerEuro !== '-'}">

              <span class="matchInfo">Finale - 14/07/24 - 20:00</span>
              <div class="pt-2 flex align-items-center justify-content-between" *ngIf="!resultMode">
                <div class="flags flex align-items-center">
                  <ng-container *ngIf="!choiceFinal2 || !choiceFinal1 || choiceFinal1 === 'TBC' || choiceFinal2 ==='TBC'">
                    <img src="assets/flags/unknown.png" alt="" /> <span class="vs">VS</span> <img src="assets/flags/unknown.png" alt="" />
                  </ng-container>
                  <ng-container *ngIf="choiceFinal1 && choiceFinal2 && choiceFinal2 !== 'TBC' && choiceFinal1 !=='TBC'">
                    <img src="assets/flags/{{ choiceFinal1 | lowercase }}.png" alt="" *ngIf="winnerEuro === choiceFinal1 || winnerEuro ==='-'"/>
                    <span class="vs" *ngIf="winnerEuro ==='-'">VS</span>
                    <img src="assets/flags/{{ choiceFinal2 | lowercase }}.png" alt="" *ngIf="winnerEuro === choiceFinal2 || winnerEuro ==='-'"/>
                  </ng-container>
                </div>
                <div class="dropdown">
                  <div class="input mb-0 p-0">
                    <select name="team" id="teamSelection" (change)="selectedWinner('final', $event)" [disabled]="!choiceFinal1 || !choiceFinal2 || choiceFinal1 === 'TBC' || choiceFinal2 ==='TBC'" [(ngModel)]="winnerEuro">
                      <option value="-" selected>Gagnant ?</option>
                      <option [value]="choiceFinal1">{{choiceFinal1}}</option>
                      <option [value]="choiceFinal2">{{choiceFinal2}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="resultMode pt-2 flex align-items-center justify-content-between" *ngIf="resultMode">

              </div>
            </div>
          </div>

          <button class="btn btnValider absolute" [disabled]="winnerEuro === '-'" (click)="validateBracket()">Valider mon bracket</button>
      </div>
    </div>
  </ng-template>

  <h3 *ngIf="!currentUser && isOpen">Vous devez vous connecter pour participez au jeu du bracket</h3>
</div>

<ng-template #loader>
  <loader [showLoader]="false" />
</ng-template>

<loader [showLoader]="showLoader" />
