@use "../../../../variables" as *;

:host {
  height: 100%;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.menu-item {
  &.active {
    color: $secondaryColor; /* Le jaune/cyan choisi pour le site */
    
    .material-symbols-outlined {
      color: $secondaryColor;
      font-variation-settings: 'FILL' 1, 'wght' 600;
    }
  }

  .material-symbols-outlined {
    transition: all 0.3s ease;
  }

  &:hover {
    .material-symbols-outlined {
      transform: translateY(-2px);
    }
  }
}
