.groupContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  width: 100%;
  place-items: center;
}

.group {
  width: 100%;
  max-width: 370px;
  background: #222;
  color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  border: 8px solid;

  .flagContainer {
    width: 35px;
    height: 25px;
    border-radius: 5px;
  }

  .groupTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding: 2rem;
    height: 180px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .groupTeams {
    justify-content: space-between;
    width: 100%;
    padding: 0 0.85rem;
  }

  .teamDetails {
    width: 100%;

    .team {
      display: flex;
      border-bottom: 1px solid #333;
      align-items: center;
    }
  }

  .team {
    padding: 0.5rem;
    width: 100%;
  }

  .point {
    display: none;
  }
}
