<div class="container pt-4 flex flex-col items-center">
  <h2 class="text-center">Entre dans le jeu ! </h2>
  <h3 class="mt-0 text-center">Fais tes pronostics pour la Coupe du Monde 2026 et vise des récompenses incroyables.</h3>
  @if (!isLoggedIn) {
    <a href="#" class="registerLink" (click)="showLogin = !showLogin">Clique et inscris-toi dès maintenant pour tenter ta chance !</a>
  }
  <h3>À toi de jouer !</h3>

  <!-- <div class="grid grid-cols-12 justify-center gap-6 mt-6">
  <div class="col-span-12 md:col-span-2">
    <a href="#meilleur-buteur" class="gameShortcut" title="Les meilleurs joueur">
      <img src="assets/jeu-meilleur-joueur.png" alt="" width="100%" height="auto" />
    </a>
  </div>
  <div class="col-span-12 md:col-span-2">
    <a href="#pronostiques" class="gameShortcut" title="Pronostiquer les matchs">
      <img src="assets/jeu-pronostique.png" alt="" width="100%" height="auto" />
    </a>
  </div>
  <div class="col-span-12 md:col-span-2">
    <a href="#bracket" class="gameShortcut" title="Le jeu du bracket">
      <img src="assets/jeu-bracket.png" alt="" width="100%" height="auto" />
    </a>
  </div>
</div> -->


@if ($wcGroups | async; as groups) {
  @if ($teamsFlags | async; as teamsFlags) {
    <div class="groupContainer mt-6">
      @for (group of groups; track group) {
        <div class="group flex items-center" [ngStyle]="{'border-color': group.color}">
          <div class="groupTitle" [ngStyle]="{'background-color': group.color }">
            {{ group.group_title }}
          </div>
          <div class="groupTeams flex gap-6">
            <div class="teamDetails">
              <div class="team">
                @for (team of teamsFlags; track team) {
                  @if (team.name === group.team_1) {
                    <div [ngStyle]="{'background': 'url(' + team.flag_url + ') center/cover'}" class="mr-2 flagContainer"></div>
                  }
                }
                {{ group.team_1}}
              </div>
              <div class="team">
                @for (team of teamsFlags; track team) {
                  @if (team.name === group.team_2) {
                    <div [ngStyle]="{'background': 'url(' + team.flag_url + ') center/cover'}" class="mr-2 flagContainer"></div>
                  }
                }
                {{ group.team_2}}
              </div>
              <div class="team">
                @for (team of teamsFlags; track team) {
                  @if (team.name === group.team_3) {
                    <div [ngStyle]="{'background': 'url(' + team.flag_url + ') center/cover'}" class="mr-2 flagContainer"></div>
                  }
                }
                {{ group.team_3}}
              </div>
              <div class="team">
                @for (team of teamsFlags; track team) {
                  @if (team.name === group.team_4) {
                    <div [ngStyle]="{'background': 'url(' + team.flag_url + ') center/cover'}" class="mr-2 flagContainer"></div>
                  }
                }
                {{ group.team_4}}
              </div>
            </div>
            <!-- <div class="teamPoints">
            <div class="point">{{ group.team_1_point }}</div>
            <div class="point">{{ group.team_2_point }}</div>
            <div class="point">{{ group.team_3_point }}</div>
            <div class="point">{{ group.team_4_point }}</div>
          </div> -->
        </div>
      </div>
    }
  </div>
}
} @else {
  <loader [showLoader]="true" />
}
</div>


<modal [(showModal)]="showLogin" [modalSize]="'md'">
  <app-login></app-login>
</modal>