<layout [ngSwitch]="page">
  <ng-container slot="header">
    <cmp-header></cmp-header>
  </ng-container>

  <ng-container slot="hero" *ngSwitchCase="0">
    <hero [background]="'url(assets/hero-bg.jpg)'">
      <app-hpnews></app-hpnews>
    </hero>
  </ng-container>

  <ng-container slot="main" >
    @defer (on idle) {
      <app-homepage *ngSwitchCase="0" />
    }
    @defer (on idle) {
      <app-error *ngSwitchCase="11" />
    }
    @defer (on idle) {
      <app-games *ngSwitchCase="1" />
    }
    @defer (on idle) {
      <app-teams *ngSwitchCase="2" />
    }
    @defer (on idle) {
      <app-stadiums *ngSwitchCase="3" />
    }
    @defer (on idle) {
      <app-statistics *ngSwitchCase="4" />
    }
    @defer (on idle) {
      <app-best-scorer *ngSwitchCase="5" />
    }
    @defer (on idle) {
      <app-pronostiques *ngSwitchCase="6" />
    }
    @defer (on idle) {
      <app-bracket-knockout *ngSwitchCase="7" />
    }
    @defer (on idle) {
      <app-bracket-challenge *ngSwitchCase="13" />
    }
    @defer (on idle) {
      <app-quiz *ngSwitchCase="8" />
    }
    @defer (on idle) {
      <app-ranking *ngSwitchCase="9" />
    }
    @defer (on idle) {
      <app-faq *ngSwitchCase="10" />
    }
    @defer (on idle) {
      <app-game-rules *ngSwitchCase="12" />
    }
    <router-outlet></router-outlet>
  </ng-container>

  <ng-container slot="footer">
    <cmp-footer></cmp-footer>
  </ng-container>
</layout>

<app-dialog [(showDialog)]="showDialog" [dialogTitle]="'Bienvenue !'" [withOverlay]="true" [allowClose]="false">
  Selon vous, combien de buts seront inscrits au total durant la Coupe du Monde de la FIFA 2026? <br /><br />
  <i>Indice: nombre total de but inscrits lors des précédentes éditions:</i>
  <ul class="textList">
    <li>Qatar 2022: 172 buts</li>
    <li>Russie 2018: 169 buts</li>
    <li>Brésil 2014: 171 buts</li>
    <li>Afrique du Sud 2010: 143 buts</li>
    <li>Allemagne 2006: 147 buts</li>
  </ul>

  <form class="flex flex-column gap-2" [formGroup]="goalsForm">
    <div class="input mb-2">
      <input type="number" formControlName="totalGoalsPrediction" name="totalGoalsPrediction" required min="0" class="w-full" />
    </div>

    <button type="button" label="Valider ma prédiction" class="btn btn-primary"(click)="submitGoals()">Soumettre ma proposition</button>
  </form>


</app-dialog>

<loader [(showLoader)]="showLoader" />

<modal>
  <p>Test modal content</p>
</modal>
