<div class="windrawSelector flex" *ngIf="teamA && teamB">
  <div class="option-wrapper">
    <button class="btnSelector teamA" [ngClass]="{'active': outCome === teamA }" (click)="winDrawSelect(teamA)" [disabled]="disabled">
      <span *ngIf="outCome === teamA">🏆</span>
      {{ teamA }}
    </button>
  </div>
  <div class="option-wrapper" *ngIf="phase === 'Group Stage'">
    <button class="draw" [ngClass]="{'active': outCome === 'Draw' }" (click)="winDrawSelect('Draw')" [disabled]="disabled">
      Draw
    </button>
  </div>
  <div class="option-wrapper">
    <button class="btnSelector teamB" [ngClass]="{'active': outCome === teamB }" (click)="winDrawSelect(teamB)" [disabled]="disabled">
      <span *ngIf="outCome === teamB">🏆</span>
      {{ teamB }}
    </button>
  </div>
</div>
