<div class="windrawSelector flex" *ngIf="teamA && teamB">
  <div class="p-0" [ngClass]="{'col-6 sm:col-6': phase !== 'Group Stage', 'col-5 sm:col-4': phase === 'Group Stage' }">
    <button class="teamA flex justify-content-center align-items-center" [ngClass]="{'active': outCome === teamA }" (click)="winDrawSelect(teamA)" [disabled]="disabled">
      <span class="material-symbols-outlined mr-1" *ngIf="outCome === teamA">check</span>
      {{ teamA }}
    </button>
  </div>
  <div class="col p-0 sm:col-4" *ngIf="phase === 'Group Stage'">
    <button class="draw flex justify-content-center align-items-center" [ngClass]="{'active': outCome === 'Draw' }" (click)="winDrawSelect('Draw')" [disabled]="disabled">
     match nul
    </button>
  </div>
  <div class="p-0" [ngClass]="{'col-6 sm:col-6': phase !== 'Group Stage', 'col-5 sm:col-4': phase === 'Group Stage' }">
    <button class="teamB flex justify-content-center align-items-center" [ngClass]="{'active': outCome === teamB }" (click)="winDrawSelect(teamB)" [disabled]="disabled">
      <span class="material-symbols-outlined mr-1" *ngIf="outCome === teamB">check</span>
      {{ teamB }}
    </button>

  </div>
</div>
