<div class="filter w-full pt-3 pb-3 pl-2 pr-2">
  <div class="container">
    <h1 class="text-white flex">
      <span class="material-symbols-outlined">calendar_month</span>
      Calendrier des matchs
    </h1>
  </div>
</div>

<div class="container pt-4">

  @if ($today | async; as today) {
    @if ($groupedMatches | async; as groupedMatches) {
      <div>
        @for (date of getDates(groupedMatches); track date) {
          <h3 class="capitalize">{{ date | date: 'fullDate' }}</h3>
          <div class="flex flex-wrap gap-2 mb-8">
            @for (match of groupedMatches[date]; track match) {
              <div class="col-12 p-0 lg:col-4">
                <app-match [match]="match" [dateTime]="today.dateTime" />
              </div>
            }
          </div>
        }
      </div>
    } @else {
      <loader [showLoader]="true" />
    }
  }

</div>

