@import "../../../../variables.scss";

.filter {
  background: darken($yellow, 10%);
  margin-left: -1rem;
  margin-top: -1rem;
  width: calc(100% + 2rem) !important;
}

.classementContainer {
  height: 644px;
  overflow-x: auto;
  padding: 0 1rem 1rem 0;

  tr {
    width: 100%;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: #dddddd;
  }
}

@media screen and (min-width: 576px){
  .filter {
    margin-top: -1rem;
    margin-left: -1.5rem;
    width: calc(100% + 3rem) !important;
  }
}

@media screen and (min-width: 991px){
  .lg\:col-4 {
    width: 32.8% !important;
  }
}

h2 {
  span.update {
    font-size: 0.85rem;
    display: flex;
    align-items: center;

    span.material-symbols-outlined {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      color: black;
    }
    span.dateUpdate {
      font-size: 1rem;
      color: $primaryColor;
      margin-left: 0.5rem;
    }
  }
}

.tableRanking {
  width: 100%;
  border: 1px solid #d3d3d3;

  tr th,
  tr td {
    padding: 1rem;
    text-align: center;
    font-size: 1.25rem;
    border-bottom: 1px solid #d3d3d3;
    border-collapse: collapse;
  }
}
