<div class="teamDetails h-full min-h-full bg-white rounded-2xl overflow-hidden">
  <div class="teamBanner p-6 h-24 flex items-center md:h-40">
    <img src="assets/wc/badge/{{ team.name | hyphernate }}.png" alt="" class="badge md:w-24 md:h-auto" width="60" height="60" />
    <h2 class="text-xl ml-6 pt-1 text-white md:text-6xl">{{ team.name | uppercase }}</h2>
  </div>

  <app-tab-content>
    <ng-template tabContent title="A propos">
      <!-- Poster Equipe -->
      <div class="mb-2rem">
        <img src="assets/teams/poster/{{team.name | hyphernate }}.jpg" width="100%" height="auto" alt="{{team.name}}" />
      </div>
      <!-- A propos de l'equipe -->

      <app-country-details [country]="teamDetails"></app-country-details>

    </ng-template>

    <!-- <ng-template tabContent title="Joueurs">
    <ng-container *ngIf="this.$teamPlayers | async as players; else loader">
      <div class="playersView" class="p-6">
        <div class="">
          <h4>Attaquants</h4>
          <div class="grid grid-cols-12 gutter-2">
            <ng-container *ngFor="let player of players">
              <ng-container *ngIf="player.position === 'Forward'">
                <div class="col-fixed w-full sm:w-12rem">
                  <div class="playerProfile">
                    <div class="playerAvatar">

                    </div>
                    <div class="playerName">
                      {{ player.name }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="">
          <h4>Millieu</h4>
          <div class="grid grid-cols-12">
            <ng-container *ngFor="let player of players">
              <ng-container *ngIf="player.position === 'Midfielder'">
                <div class="col-fixed w-full sm:w-12rem">
                  <div class="playerProfile">
                    <div class="playerAvatar">

                    </div>
                    <div class="playerName">
                      {{ player.name }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="">
          <h4>Défenseurs</h4>
          <div class="grid grid-cols-12">
            <ng-container *ngFor="let player of players">
              <ng-container *ngIf="player.position === 'Defender'">
                <div class="col-fixed w-full sm:w-12rem">
                  <div class="playerProfile">
                    <div class="playerAvatar">

                    </div>
                    <div class="playerName">
                      {{ player.name }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div>
          <h4>Gardiens de buts</h4>
          <div class="grid grid-cols-12">
            <ng-container *ngFor="let player of players">
              <ng-container *ngIf="player.position === 'Goalkeeper'">
                <div class="col-fixed w-full sm:w-12rem">
                  <div class="playerProfile">
                    <div class="playerAvatar">

                    </div>
                    <div class="playerName">
                      {{ player.name }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

      </div>
    </ng-container>
  </ng-template> -->

  <ng-template tabContent title="Matchs">
    <div class="p-6 matchDetails mt-4">
      @if (teamMatches; as matches) {
        <div class="flex flex-wrap gap-2 mb-20">
          @for (match of matches; track match) {
            @if (today) {
              <div class="col-span-12 p-0 sm:col-span-4">
                <app-match [match]="match" [dateTime]="today.dateTime" />
              </div>
            }
          }
        </div>
      } @else {
        <loader [showLoader]="true" />
      }
    </div>
  </ng-template>
</app-tab-content>
</div>

