<div class="pronostiqueHeader fixed left-0 w-full">
  <div class="filter w-full pt-4 pb-4 pl-2 pr-2">
    <div class="container">
      <h1 class="text-white flex">
        <span class="material-symbols-outlined">sports_esports</span>
        Pronostic des matchs
      </h1>
    </div>
  </div>
  <div class="playedFilter w-full pt-3 pb-3 pl-2 pr-2">
    <div class="container">
      <div class="flex w-full align-items-center justify-content-end">
      <button class="btnFilter flex align-items-center mr-2" [ngClass]="{'active': activeMatches}" (click)="activeMatches = true">
        Matchs à venir
        <span class="material-symbols-outlined ml-2 mr-0">
          check
          </span>
      </button>
      <button class="btnFilter flex align-items-center" [ngClass]="{'active': !activeMatches}" (click)="activeMatches = false">
        Matchs joués
        <span class="material-symbols-outlined ml-2 mr-0">
          check
          </span>
      </button>
      </div>
    </div>
  </div>
</div>

<div class="container pronostiquesMain">

  <ng-container *ngIf="activeMatches; else played">
    <ng-container *ngIf="$today | async as today; else loader">
      <div *ngIf="$groupedMatches | async as groupedMatches; else loader">

        <ng-container *ngFor="let date of getDates(groupedMatches)">

            <ng-container *ngIf="compareDates(today.dateTime, date); else notPlayed">
              <div class="played" *ngIf="!activeMatches">
                <h2 class="capitalize">{{ date | date: 'fullDate' }}</h2>

                <div class="flex gap-2 mb-8 flex-wrap">
                  <ng-container *ngFor="let match of groupedMatches[date]">
                    <div class="col-12 p-0 flex-shrink-0 lg:col-4">
                      <app-match [match]="match" [isPronostiques]="true" [disabled]="!isLoggedIn" [dateTime]="today.dateTime" />
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <ng-template #notPlayed>
              <div class="notPlayed" *ngIf="activeMatches">
                <h2 class="capitalize">{{ date | date: 'fullDate' }}</h2>

                <div class="flex gap-2 mb-8 flex-wrap">
                  <ng-container *ngFor="let match of groupedMatches[date]">
                    <input type="hidden" #hasPlayed/>
                    <div class="col-12 p-0 flex-shrink-0 lg:col-4">
                      <app-match [match]="match" [isPronostiques]="true" [disabled]="!isLoggedIn" [dateTime]="today.dateTime" />
                    </div>
                  </ng-container>
                </div>
              </div>

            </ng-template>
          </ng-container>


      </div>
    </ng-container>
  </ng-container>

  <ng-template #played>
    <ng-container *ngIf="$today | async as today; else loader">
      <div *ngIf="$groupedMatches | async as groupedMatches; else loader">

        <ng-container *ngFor="let date of getPlayedDates(groupedMatches)">

          <ng-container *ngIf="compareDates(today.dateTime, date); else notPlayed">
            <div class="played" *ngIf="!activeMatches">
              <h2 class="capitalize">{{ date | date: 'fullDate' }}</h2>

              <div class="flex gap-2 mb-8 flex-wrap">
                <ng-container *ngFor="let match of groupedMatches[date]">
                  <div class="col-12 p-0 flex-shrink-0 lg:col-4">
                    <app-match [match]="match" [isPronostiques]="true" [disabled]="!isLoggedIn" [dateTime]="today.dateTime" />
                  </div>
                </ng-container>
              </div>
          </div>
          </ng-container>

          <ng-template #notPlayed>
            <div class="notPlayed" *ngIf="activeMatches">
              <h2 class="capitalize">{{ date | date: 'fullDate' }}</h2>

              <div class="flex gap-2 mb-8 flex-wrap">
                <ng-container *ngFor="let match of groupedMatches[date]">
                  <input type="hidden" #hasPlayed/>
                  <div class="col-12 p-0 flex-shrink-0 lg:col-4">
                    <app-match [match]="match" [isPronostiques]="true" [disabled]="!isLoggedIn" [dateTime]="today.dateTime" />
                  </div>
                </ng-container>
              </div>
            </div>

          </ng-template>
        </ng-container>

      </div>
    </ng-container>
  </ng-template>

</div>

<ng-template #loader>
  <loader [showLoader]="true" />
</ng-template>
