@import "../../../../variables.scss";

.tab-titles {
  display: flex;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.tab-titles div {
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background: $green;
    color: white;
  }
}

.tab-titles div.active {
  background-color: $blue;
  color: white;
}

.tab-content {
  // padding: 2rem 1.5rem;
  min-height: 14rem;
}
