$gray: #dbe8f1;
$red: #E3000F; // fifa-red
$blue: #2552FA; // fifa-blue
$green: #00B140; // fifa-green
$yellow: #EAFF00; // fifa-yellow
$inputBorder: #d4d4d4;

$primaryColor: var(--theme-primary-color);
$secondaryColor: var(--theme-secondary-color);
$lightPrimary: var(--theme-light-primary);
$lightSecondary: var(--theme-light-secondary);
$darkPrimary: var(--theme-dark-primary);
$darkSecondary: var(--theme-dark-secondary);
$darkpurple: var(--theme-darkpurple);

$goldColor: $yellow;
$aqua: #4EF5D6; // fifa-aqua
$mint: #B8ED00; // fifa-lime

$subHeader : 3rem;
$headerNav: 6rem;
$pagesHeader: 144px;
